*{
    margin:0;
    padding:0;
}
 span{
    color:#fff;
}
header{
z-index: 3;
 }
body{
    z-index: 0;
}

.header-body .row-5 .float-right{
font-size: 16px;
color: #fdd000;
display: inline-block;

}
.header-body .row-5 div{
    border:1px solid #fdd000;
}
.header-body .row-5 div input{
    border:1px solid #fdd000;
    color:white;
}
.header-body .row-5 div>span{
    font-size:16px;
    color:#000;
    font-weight: bold;
    font-family: "Î¢ÈíÑÅºÚ";
}
.select>span{
    color: #fdd000;
}
.select{
   position:absolute;
    left: 429px;
    top: 81px;
    border:0;
}
.select>div>ul>li>a{
    text-decoration: none;
    color:black;
}
.select>div>ul>li>a:hover{
    background: #f0c50d;
}
.select>div{
    display: none;
    position: fixed;
    z-index: 10;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:orange;
    text-decoration: none;
}
.header-top a{
    font-size:12px;
}

